.sec7{
    margin-top: 50px;
    background-image: url(../images/bg.png);
    width: 100%;
    background-size: cover;
    .f{
        display: flex;
        justify-content: space-between;
        .fle{
            padding: 40px 0px;
            display: flex;
            align-items: center;
            gap: 15px;
            .b{
                display: flex;
                gap: 15px;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
        .fle2{
            display: flex;
            align-items: center;
            gap: 15px;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    
}
@media (max-width: 990px) {
    .sec7{
    .f{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .fle{
            padding: 40px 0px;
            gap: 15px;
            .b{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 15px;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
        .fle2{
            display: flex;
            align-items: center;
            gap: 15px;
            .a{
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    
    }
}
@media (max-width: 600px) {
    .sec7{
        .rght{
            display: none;
        }
        .f{
            flex-direction: column;
            text-align: center;
            .fle{
                padding: 10px 0px;
                display: flex;
                flex-direction: column;
                gap: 1px;
                .b{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 1px;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
            .fle2{
                gap: 1px
            }
        }
        
    }
}
@media (max-width: 597px) {
    .sec7{
        margin-top: 50px;
        background-image: url(../images/bg.png);
        width: 100%;
        background-size: cover;
        .f{
            display: flex;
            justify-content: space-between;
            .fle{
                padding: 40px 0px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
            .fle2{
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                gap: 15px;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
        
    } 
}