
/**
 * NOTIFICATION TOAST 
 */

.notification-toast {
  position: fixed;
  bottom: 82px;
  left: 20px;
  right: 20px;
  background: white;
  max-width: 300px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 20px hsla(0, 0%, 0%, 0.276);
  transform: translateX(calc(-100% - 40px));
  transition: 0.6s ease-in-out;
  z-index: 5;
  animation: slideInOut 7s ease-in-out infinite;
}
@keyframes slideInOut {
  0%,
  40%,
  100% {
    transform: translateX(calc(-100% - 40px));
    opacity: 0;
    visibility: hidden;
  }

  50%,
  95% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

}

.notification-toast.closed { display: none; }

.toast-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border:none;
  background-color: transparent;
  cursor: pointer;
}
.toast-close-btn ion-icon { --ionicon-stroke-width: 50px; }
.toast-banner {
  width: 70px;
  height: 70px;
  border: 1px solid hsl(0, 0%, 93%);
  border-radius: 5px;
}
.toast-banner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.toast-detail {
  width: calc(100% - 85px);
  padding-right: 10px;
}
.toast-message {
  font-size: 0.788rem;
  color:  hsl(0, 0%, 47%);
  margin-bottom: 8px;
}
.toast-title {
  font-size: 0.875rem;
  font-weight: 500;
  color: hsl(0, 0%, 27%);
  margin-bottom: 6px;
}
.toast-meta {
  font-size: 0.698rem;
  color:  hsl(0, 0%, 47%);
}

@media (max-width: 430px) {
  
.notification-toast {
  position: fixed;
  bottom: 90px;
  left: 20px;
  right: 20px;
  background: white;
  max-width: 300px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 20px hsla(0, 0%, 0%, 0.276);
  transform: translateX(calc(-100% - 40px));
  transition: 0.6s ease-in-out;
  z-index: 5;
  animation: slideInOut 7s ease-in-out infinite;
}
}