#loading{
    position: fixed;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    transition: .5s;
    @mixin transform($transforms) {
        -moz-transform: $transforms;
        -o-transform: $transforms;
        -ms-transform: $transforms;
        -webkit-transform: $transforms;
        transform: $transforms;
      }
      
      @mixin scale($scale, $scale2) {
        @include transform(scale($scale, $scale2));
      }
      
      
      
      @mixin animation($str) {
        -webkit-animation: #{$str};
        -moz-animation: #{$str};
        -ms-animation: #{$str};
        -o-animation: #{$str};
        animation: #{$str};
      }
      
      $cool-loader-size: 40px;
      $cool-loader-color: #5cb85c;
      .cool-loader {
        width: $cool-loader-size;
        height: $cool-loader-size * 2;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        z-index: 999;
        &__inner {
          border-radius: 50%;
          @include animation(loader-animation 0.8s ease-out infinite);
          background: $cool-loader-color;
          position: absolute;
          width: $cool-loader-size;
          height: $cool-loader-size;
          z-index: 9;
        }
        &__shadow {
          width: $cool-loader-size;
          bottom: 2px;
          height: 5px;
          background: #000;
          opacity: 0.3;
          position: absolute;
          left: 0;
          border-radius: 50%;
          @include animation(shadow-animation 0.8s ease-out infinite);
        }
      }
      
      @keyframes loader-animation {
        0% {
          top: 0;
          @include scale(1, 1);
        }
        35% {
          @include scale(1, 1);
          background: $cool-loader-color;
        }
        50% {
          top: $cool-loader-size;
          @include scale(1.2, 0.8);
          background: darken($cool-loader-color, 10%);
        }
        75% {
          @include scale(0.8, 1.2);
        }
        100% {
          top: 0;
          @include scale(1, 1);
          background: $cool-loader-color;
        }
      }
      
      @keyframes shadow-animation {
        0% {
          @include scale(0.5, 0.5);
          opacity: 0.1;
        }
        50% {
          @include scale(1, 1);
          opacity: 0.2;
        }
        100% {
          @include scale(0.5, 0.5);
          opacity: 0.1;
        }
      }
      
      .link{
        text-decoration: none;
        color: #2e77ea;
      }
}
#loading.loading-none {
    opacity: 0;
    z-index: -1;
}