@use "../global.scss";
.sec1{
    .bosh{
        display: flex;
        align-items: center;
        gap: 20px;
        padding-top: 30px;
        img{
            width: 7px;
        }
        .glav{
            text-decoration: none;
            color: black;
        }
        a{
            text-decoration: none;
            color: gray;
        }
    }
}


main {
      .joyi {
          display: flex;
          gap: 20px;
          align-items: center;
          margin-top: 10px;

          .home {
              color: black;
              font-size: 18px;
          }

          .page {
              color: #8F8F8F;
          }
      }

    h2 {
        padding: 20px 0px 50px;
        font-size: 36px;
    }

      .card {
        display: flex;
        justify-content: space-between;
        display: grid;
        row-gap: 20px;
        grid-template-columns: repeat(4, 23%);



        .box {
            background: white;
            padding: 5px 10px;
            border-radius: 6px;
            transition: .5s;

            &:hover {
                box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
                transition: .5s;

                .img .heard {
                    right: 0;
                }

            }

            .img {
                height: 180px;

                img {
                    width: 100%;
                }

                display: flex;
                align-items: center;
                position: relative;
                overflow: hidden;

                .heard {
                    position: absolute;
                    top: 0;
                    right: -20%;
                    background: #F3F2F1;
                    color: #414141;
                    padding: 5px 5px 2px 5px;
                    font-size: 18px;
                    border-radius: 3px;
                    transition: .5s;
                    z-index: 1;
                    &:hover {
                        color: red;
                    }
                }
            }

            .text{
                padding: 10px 0px;
            }
            .info {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                font-size: 16px;
                color: #414141;
                margin: 0px 0px 10px;
            }

            .stars {
                padding: 8px 0px;
            }

            .btn {
                padding: 8px 20px;
                border: 1px solid #70C05B;
                border-radius: 5px;
                background: white;
                color: #70C05B;
                font-size: 16px;
                width: 100%;
                transition: .5s;

                &:hover {
                    background: #FF6633;
                    border-color: #FF6633;
                    color: white;
                }
            }
        }

        @media (max-width:900px) {
            grid-template-columns: repeat(3, 32%);

            .box:nth-child(4) {
                display: none;

            }
        }

        @media (max-width:680px) {
            grid-template-columns: repeat(2, 48%);

            .box:nth-child(3) {
                display: none;

            }
        }

        @media (max-width:460px) {
            grid-template-columns: repeat(1, 100%);
            width: 80%;
            margin: 0 auto;
        }

        @media (max-width:360px) {
            width: 100%;
        }
      }

    .paginition {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 30px 0px;
        .disabled{
            color: gray;
        }
        .page-item {
            border: 1.5px solid rgb(71, 71, 71);
            padding: 5px 10px;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background: rgb(147, 152, 138);
                color: white;
            }
        }
        .active {
            background: rgb(40, 165, 40);
            color: white;
            border-color:red;
        }
    }

}