@use "../global.scss";
.sec33{
    .container,
.button,
.links,
.link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  padding: 20px;
  border-radius: 8px;
  column-gap: 12px;
  background: transparent;
}
.button {
  border: none;
}
.button i {
  pointer-events: none;
}
.button:disabled {
  color: #b3b3b3;
  pointer-events: none;
}
.button,
.link {
  height: 45px;
  width: 45px;
  font-size: 20px;
  color: #666666;
  background-color: #f2f2f2;
  border-radius: 6px;
  cursor: pointer;
}
.links {
  column-gap: 12px;
}
.link {
  font-weight: 500;
  text-decoration: none;
}
.button:hover,
.link:hover {
  color: #fff;
  background: #4070f4;
}
.link.active {
  color: #fff;
  background: #4070f4;
}

}
@media (max-width: 1190px) {
    .macl, .bosh{
        padding: 0px 15px;
    }
    .sec{
        padding: 0 15px;
    }
    .sec1{
        padding: 0 15px;
    }
    .sec2{
        padding: 0px 15px;
    }
    .about1{
        padding: 0px 14px;
    }
    header{
        padding: 13px 14px;
    }
    .sec2{
        .f_aksi{
            padding: 0px 14px;
        }
        .s_f{
            padding: 40px 14px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            .oxr-no{
                display: none;
            }
            .box{
                width: 100%;
            }
        }
    }
    .sec5{
        padding: 0px 14px;
    }
    .sec6{
        padding: 0px 14px;
    }
    .sec7{
        padding: 0px 14px;
    }
}
@media (max-width:500px) {
    .sec33{
        display: none;
    }
}