@use "../global.scss";

$pieceAT: 0.7s;
$contentFadeAT: 0.2s;

@function map-set($map, $key, $value) {
  $new: ($key: $value);
  @return map-merge($map, $new);
}

@mixin shatteredPopup($inRow: 6, $inCol: 6) {
  $pieces: $inRow * $inCol;
  $heights: ();
  $hTotal: 100;

  @for $i from 1 through $inCol {
    $h: 100 / $inCol;
    $hVal: $h * 0.7 + floor(random($h*0.6));

    @if $i == $inCol {
      $hVal: $hTotal;
    }

    $hTotal: $hTotal - $hVal;
    $heights: map-set($heights, $i, $hVal);
    $widths: ();

    $wTotal: 100;

    @for $j from 1 through $inRow {
      $w: 100 / $inRow;
      $wVal: $w * 0.7 + floor(random($w*0.6));

      @if $j == $inRow {
        $wVal: $wTotal;
      }

      $wTotal: $wTotal - $wVal;
      $widths: map-set($widths, $j, $wVal);
    }

    $heights: map-set($heights, 'widths-#{$i}', $widths);
  }

  $k: 4;

  @for $i from 1 through $pieces {
    .popup__piece:nth-child(#{$i}) {
      $indexH: ceil($i / $inCol);
      $pieceH: map-get($heights, $indexH);
      height: percentage($pieceH / 100);

      $indexW: $i % $inRow + 1;
      $pieceW: map-get(map-get($heights, 'widths-#{$indexH}'), $indexW);

      width: percentage($pieceW / 100);

      $pieceX: percentage((30 + random(40)) / 100);

      @for $j from 1 through 3 {
        .popup__piece-inner:nth-child(#{$j}) {
          $x: (-60 + random(120)) * 1vw;
          $y: (-60 + random(120)) * 1vh;
          $z: (900 - random(1800)) * 1px;
          $rtX: 120deg + random(360deg);
          $rtY: 120deg + random(360deg);
          
          transform: translate3d($x, $y, $z) rotateX($rtX) rotateY($rtY);
          
          @if $j == 1 {
            clip-path: polygon(0 0, 0 100%, $pieceX 100%);
          }
          
          @if $j == 2 {
            clip-path: polygon(0 0, $pieceX 100%, 100% 0);
          }
          
          @if $j == 3 {
            clip-path: polygon(100% 0, 100% 100%, $pieceX 100%);
          }
        }
      }
    }
    
    &.s--closed .popup__piece:nth-child(#{$i}) {
      $rndPieceY: (100 + random(50)) * 1vh;
      
      transform: translate3d(0,$rndPieceY,0);
      
      @for $j from 1 through 3 {
        .popup__piece-inner:nth-child(#{$j}) {
          $x: (-80 + random(160)) * 1vw;
          $z: (900 - random(1800)) * 1px;
          $rtX: 120deg + random(360deg);
          $rtY: 120deg + random(360deg);
          
          transform: translate3d($x, 0, 0) rotateX($rtX) rotateY($rtY);
        }
      }
    }
  }

}

.popups-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  perspective: 1000px;
  pointer-events: none;
  transition: z-index 0s $contentFadeAT/2 + $pieceAT;
  
  &.s--popup-active {
    z-index: 1000;
    pointer-events: auto;
    transition: z-index 0s 0s;
    background: rgba(252, 213, 186, 0.481);
  }
  
  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    //background: rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity $pieceAT/2;
    .popups-cont.s--popup-active & {
      opacity: 1;
      transition: opacity $pieceAT/2 $pieceAT/2;
    }
  }
}

.popup {
  z-index: 2;
  position: relative;
  width: 500px;
  height: 500px;
  transform-style: preserve-3d;
  @include shatteredPopup;
  .fl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input{
        outline: none;
        box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
        border: 1px solid #70C05B;
        padding: 23px 0;
    }
    button{
        width: 100%;
    }
    .y{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        a{
            text-decoration: none;
            color: #606060;
            border: 1px solid white;
            padding: 10px;
            border-radius: 5px;
            transition: .5s;
            &:hover{
                border: 1px solid #70C05B;
                padding: 10px;
                border-radius: 5px;
            }
        }

    }
  }
  &__pieces {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__piece {
    float: left;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0s 0s;
    
    .popup.s--closed & {
      transition: transform $pieceAT $contentFadeAT/2 cubic-bezier(.69,-0.47,.97,1.04);
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    &-inner {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.8);
      opacity: 0;
      transition: opacity $pieceAT/2 * 0.8 $pieceAT/2 + $contentFadeAT ease-in, transform $pieceAT $contentFadeAT/2 ease-out;
        border-radius: 12px;
      .popup.s--active & {
        transition: opacity $pieceAT/2, transform $pieceAT ease-in-out;
        transform: translate3d(0,0,0) rotateX(0) rotateY(0) !important;
        opacity: 1;
      }
      
    }
  }

  &__content {
    position: relative;
    min-height: 500px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 8px 16px 32px rgba(255, 102, 51, 0.2);
    color: black;
    transition: opacity $contentFadeAT;
    opacity: 0;
    border-radius: 7px;
    .popup.s--active & {
      transition-delay: $pieceAT - $contentFadeAT/2;
      opacity: 1;
    }
  }
  
  &__close {
    position: absolute;
    right: 4px;
    top: 1px;
    width: 20px;
    height: 25px;
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 14px;
      width: 100%;
      height: 2px;
      background: black;
    }
    
    &:before {
      transform: rotate(45deg);
    }
    
    &:after {
      transform: rotate(-45deg);
    }
  }
  
  &__heading {
    font-size: 30px;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
  }
  
  &__text {
    font-size: 18px;
    line-height: 1.5;
  }

}

.popup-btn {
  background: transparent;
  color: #000;
  transition: all 0.3s;
  cursor: pointer;
}

// Showcase Start
.sec1{ 
.slider{
    width: 100%;
    overflow: hidden;
}

figure{
    position: relative;
    left: 0;
    width: 400%; /* width dikali slide */
    animation: 10s slide infinite;
}
.slide{
    position: relative;
    width: 25%; /* width dibagi slide */
    float: left;
}

.slide h1{
    position: absolute;
    font-size: 3em;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.slide img{
    width: 100%;
    
}
@keyframes slide{
    0%{
        left:0;
    }
    10%{
        left:0;
    }
    30%{
        left:-100%;
    }
    50%{
        left:-100%;
    }
    70%{
        left:-200%;
    }
    90%{
        left:-200%;
    }
    90%{
        left:0;
    }
    1000%{
        left:0;
    }
}
}
// Showcase End

.sec2{
    margin-bottom: 90px;
    .f_aksi{
        font-family: 'Rubik';
        font-style: normal;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .s_f{
        padding: 40px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        .box{
            background-color: white;
            width: 96%;
            border-radius: 9px;
            transition: .5s;
            p{
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                }
            .ras{
                position: relative;
                .s{
                    width: 100%;
                }
                .po{
                    padding: 0px 10px;
                    top: 20px;
                    position: absolute;
                    right: 0;
                    cursor: pointer;
                }
                .sf img:hover{
                    background-color: red;
                }
                .tx{
                    display: none;
                    position: absolute;
                    top: 120px;
                    left: 10px;
                    width: 56px;
                    padding: 10px 0;
                    color: white;
                    background: #FF6633;
                    border-radius: 4px;
                    text-align: center;
                }
            }
            .pastki{
                padding: 10px 10px;
                .fle{
                    display: flex;
                    justify-content: space-between;
                }
                .button {
                    &.dark {
                        --background: #2F3545;
                        --shadow: 0 2px 8px -1px #{rgba(#151924, .32)};
                        --shadow-hover: 0 4px 20px -2px #{rgba(#151924, .5)};
                    }
                    
                }
                
                .button {
                    --background: white;
                    --text: #70C05B;
                    --font-size: 18.5px;
                    --duration: .44s;
                    --move-hover: -4px;
                    --shadow: 0 2px 8px -1px #{rgba(#275efe, .32)};
                    --shadow-hover: 0 4px 20px -2px #{rgba(#275efe, .5)};
                    --font-shadow: var(--font-size);
                    padding: 10px 12px;
                    font-family: 'Roboto';
                    font-weight: 500;
                    line-height: var(--font-size);
                    border-radius: 7px;
                    width: 100%;
                    text-align: center;
                    display: block;
                    align-items: center;
                    outline: none;
                    text-decoration: none;
                    font-size: var(--font-size);
                    letter-spacing: .5px;
                    background: var(--background);
                    color: var(--text);
                    box-shadow: var(--shadow);
                    transform: translateY(var(--y)) translateZ(0);
                    transition: transform var(--duration) ease, box-shadow var(--duration) ease;
                    border: 1px solid #70C05B;
                    div {
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        overflow: hidden;
                        text-shadow: 0 var(--font-shadow) 0 var(--text);
                        span {
                            display: block;
                            backface-visibility: hidden;
                            font-style: normal;
                            transition: transform var(--duration) ease;
                            transform: translateY(var(--m)) translateZ(0);
                            $i: 1;
                            @while $i < 12 {
                                &:nth-child(#{$i}) {
                                    transition-delay: $i / 20 + s;
                                }
                                $i: $i + 1;
                            }
                        }
                    }
                    &:hover {
                        --y: var(--move-hover);
                        background: #FF6633;
                        color: white;
                        transform: .6s;
                        --shadow: var(--shadow-hover);
                        --text: white;
                        border: 1px solid #FF6633;
                        span {
                            color: white;
                            --m: calc(var(--font-size) * -1);
                        }
                    }
                }
                
            }
        }
        .box:hover{
            box-shadow: 0px 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
            transform: translate(0px, -8px);
        }
    }
}

.sec44{
    .sec4 #owl-carousel {
        padding: 10px 10px;
      }
      .tx h1{
        padding: 0px 10px;
      }
      .sec4 .owl-carousel-1 {
        position: relative;
        padding: 0px 10px;
      }
      .sec4 .owl-carousel-1 .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        margin: 9px 7px;
        border-radius: 30px;
        transition: all 0.2s ease;
        background-color: #bab9b9;
      }
      .sec4 .owl-carousel-1 .owl-dots .owl-dot.active span {
        width: 50px;
        background-color: #3858d6;
      }
      .sec4 .owl-carousel-1 .owl-nav {
        display: none;
      }
      .sec4 .card2 {
        border: 1px solid #e6e5e5;
        background: #ffffff;
        width: 100%;
        border-radius: 6px;
        position: relative;
        cursor: pointer;
        transition: all 0.5 ease;
        overflow: hidden;
        padding: 20px 20px;
      }
      .sec4 .card2 .im {
        position: absolute;
        top: -166px;
        right: -166px;
        transition: all 0.6s ease-in-out;
      }
      .sec4 .card3 {
        border: 1px solid #e6e5e5;
        background: #ffffff;
        width: 100%;
        border-radius: 6px;
        position: relative;
        cursor: pointer;
        transition: all 0.5 ease;
        overflow: hidden;
        padding: 20px 20px;
      }
      .sec4 .card3 .im {
        position: absolute;
        top: -166px;
        right: -166px;
        transition: all 0.6s ease-in-out;
      }
      .sec4 .box {
        color: white;
        text-align: left;
      }
      .sec4 .box img {
        width: 75%;
      }
      .sec4 .box .a{
        width: 60%;
      }
      .sec4 .box p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #22343d;
        padding-bottom: 15px;
      }
      .sec4 .box h3 {
        color: black;
        font-weight: 500;
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 15px;
      }
      .sec4 .card2::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #ffa667;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 6px;
        transition: 0.9s ease;
      }
      .sec4 .card2:hover {
        background-color: transparent;
      }
      .sec4 .card2:hover::before {
        width: 100%;
      }
      .sec4 .card2:hover h3 {
        color: white;
      }
      .sec4 .card2:hover p {
        color: white;
      }
      .sec4 .card2:hover .im {
        top: 3;
        right: 0;
      }
      .sec4 .card3::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #c1fdb1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 6px;
        transition: 0.9s ease;
      }
      .sec4 .card3:hover {
        background-color: transparent;
      }
      .sec4 .card3:hover::before {
        width: 100%;
      }
 
      .sec4 .flexx {
        display: flex;
        align-items: center;
        gap: 10px;
        img{
            height: 200px;
        }
      }
}
.sec5{
    .ap-tab{
        margin-top: 40px;
    }
    .fle{
        display: grid;
        grid-template-columns: 180px 180px 180px 180px;
        .button {
            &.dark {
                --background: #2F3545;
                --shadow: 0 2px 8px -1px #{rgba(#151924, .32)};
                --shadow-hover: 0 4px 20px -2px #{rgba(#151924, .5)};
            }
            
        }
        .button {
            width: 130px;
            --background: white;
            --text: #70C05B;
            --font-size: 18.5px;
            --duration: .44s;
            --move-hover: -4px;
            --shadow: 0 2px 8px -1px #{rgba(#275efe, .32)};
            --shadow-hover: 0 4px 20px -2px #{rgba(#275efe, .5)};
            --font-shadow: var(--font-size);
            padding: 10px 12px;
            font-family: 'Roboto';
            font-weight: 500;
            line-height: var(--font-size);
            border-radius: 7px;
            text-align: left;
            display: block;
            margin-right: 15px;
            align-items: center;
            outline: none;
            text-decoration: none;
            font-size: var(--font-size);
            letter-spacing: .5px;
            background: var(--background);
            color: var(--text);
            box-shadow: var(--shadow);
            transform: translateY(var(--y)) translateZ(0);
            transition: transform var(--duration) ease, box-shadow var(--duration) ease;
            div {
                display: flex;
                text-align: center;
                justify-content: left;
                overflow: hidden;
                text-shadow: 0 var(--font-shadow) 0 var(--text);
                span {
                    display: block;
                    backface-visibility: hidden;
                    font-style: normal;
                    transition: transform var(--duration) ease;
                    transform: translateY(var(--m)) translateZ(0);
                    $i: 1;
                    @while $i < 12 {
                        &:nth-child(#{$i}) {
                            transition-delay: $i / 20 + s;
                        }
                        $i: $i + 1;
                    }
                }
            }
            &:hover {
                --y: var(--move-hover);
                background: #70C05B;
                color: white;
                transform: .6s;
                --shadow: var(--shadow-hover);
                --text: white;
                span {
                    color: white;
                    --m: calc(var(--font-size) * -1);
                }
            }
        }  
    }
    iframe{
        width: 100%;
    }
}

.sec6{
    margin-top: 90px;
    .f_aksi{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .s_f{
        padding: 40px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        overflow: hidden;
        .box{
            overflow: hidden;
            background-color: white;
            width: 96%;
            border-radius: 9px;
            transition: .6s;
            .ras{
                position: relative;
                .s{
                    width: 100%;
                    height: 150px;
                }
                .po{
                    padding: 0px 10px;
                    top: 20px;
                    position: absolute;
                    right: 0;
                    cursor: pointer;
                }
                .tx{
                    display: none;
                    position: absolute;
                    top: 120px;
                    left: 10px;
                    width: 56px;
                    padding: 10px 0;
                    color: white;
                    background: #FF6633;
                    border-radius: 4px;
                    text-align: center;
                }
            }
            .pastki{
                padding: 10px 10px;
                .fle{
                    display: flex;
                    justify-content: space-between;
                }
                .button {
                    &.dark {
                        --background: #2F3545;
                        --shadow: 0 2px 8px -1px #{rgba(#151924, .32)};
                        --shadow-hover: 0 4px 20px -2px #{rgba(#151924, .5)};
                    }
                    
                }
                
                .button {
                    --background: white;
                    --text: #70C05B;
                    --font-size: 18.5px;
                    --duration: .44s;
                    --move-hover: -4px;
                    --shadow: 0 2px 8px -1px #{rgba(#275efe, .32)};
                    --shadow-hover: 0 4px 20px -2px #{rgba(#275efe, .5)};
                    --font-shadow: var(--font-size);
                    padding: 10px 12px;
                    font-family: 'Roboto';
                    font-weight: 500;
                    background: #E5FFDE;
                    width: 125px;
                    line-height: var(--font-size);
                    border-radius: 7px;
                    text-align: center;
                    display: block;
                    align-items: center;
                    outline: none;
                    text-decoration: none;
                    font-size: var(--font-size);
                    letter-spacing: .5px;
                    color: var(--text);
                    box-shadow: var(--shadow);
                    transform: translateY(var(--y)) translateZ(0);
                    transition: transform var(--duration) ease, box-shadow var(--duration) ease;
                    div {
                        display: flex;
                        text-align: center;
                        overflow: hidden;
                        text-shadow: 0 var(--font-shadow) 0 var(--text);
                        span {
                            display: block;
                            backface-visibility: hidden;
                            font-style: normal;
                            transition: transform var(--duration) ease;
                            transform: translateY(var(--m)) translateZ(0);
                            $i: 1;
                            @while $i < 12 {
                                &:nth-child(#{$i}) {
                                    transition-delay: $i / 20 + s;
                                }
                                $i: $i + 1;
                            }
                        }
                    }
                    &:hover {
                        --y: var(--move-hover);
                        background: #70C05B;
                        color: white;
                        transform: .6s;
                        --shadow: var(--shadow-hover);
                        --text: white;
                        span {
                            color: white;
                            --m: calc(var(--font-size) * -1);
                        }
                    }
                }
                
            }
        }
        .box:hover{
            box-shadow: 0px 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
            transform: translate(0px, -10px);
        }
        .box:hover .s{
            transform: scale(1.1);
            transition: 2s;
        }

    }
}

@media (max-width: 1190px) {
    .macl, .bosh{
        padding: 0px 15px;
    }
    .sec{
        padding: 0 15px;
    }
    .sec1{
        padding: 0 15px;
    }
    .sec2{
        padding: 0px 15px;
    }
    .about1{
        padding: 0px 14px;
    }
    header{
        padding: 8px 14px;
    }
    .sec2{
        .f_aksi{
            padding: 0px 14px;
        }
        .s_f{
            padding: 40px 14px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            .oxr-no{
                display: none;
            }
            .box{
                width: 100%;
            }
        }
    }
    .sec5{
        padding: 0px 14px;
    }
    .sec6{
        padding: 0px 14px;
    }
    .sec7{
        padding: 0px 14px;
    }
}
@media (max-width: 990px) {
    .sec44{
          .sec4 .card2 .img {
            width: 50%;
          }
    }
}
@media (max-width: 920px) {
    .sec2{
        .f_aksi{
            display: flex;
            justify-content: space-between;
        }
        .s_f{
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-evenly;
            align-items: center;
            .oxr-no2{
                display: none;
            }
            .box{
                width: 100%;
            }
        }
    }
}
@media (max-width: 890px) {        
    .sec2{
        .f_aksi{
            display: flex;
            justify-content: space-between;
        }
        .s_f{
            padding: 40px 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 25px;
            .oxr-no2{
                display: none;
            }
            .box{
                width: 100%;
            }
        }
    }
    .sec6{
        padding: 0px 15px;
        margin-top: 90px;
        .f_aksi{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .s_f{
            padding: 40px 0px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }
}
@media (max-width: 700px) {
    .sec5{
        .fle{
            display: grid;
            grid-template-columns: 180px 180px;
            gap: 20px;
        }
    }
    .b{
    .a-o{
        display: none;
    }
}
}
@media (max-width: 597px) {
    .sec2{
        .f_aksi{
            padding: 0px 0px;
        }
        .s_f{
            
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-evenly;
            display: flex;
            align-items: center;
            .box{
                width: 50%;
            }
        }
    }
    .sec44{
        .sec4 .card2 .img {
          width: 70%;
        }
        .box {
            .flexx{
                display: flex;
                flex-direction:  column;
                text-align: center;
            }
        }
    }
    .sec5{
        padding: 0px 10px;
    }
    .sec6{
        padding: 0px 15px;
        margin-top: 90px;
        .f_aksi{
            padding: 0px 80px;
            display: flex;
            justify-content: space-between;
        }
        .s_f{
            padding: 40px 0px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            width: 70%;
            margin: auto;
        }
    }
}
@media (max-width:555px) {
    .sec2{
        .f_aksi{
            padding: 0px 45px;
            display: flex;
            justify-content: space-between;
        }
        .a1{
            font-size: 20px !important;
        }
        .s_f{
            display: flex;
            flex-direction: column;
            .box{
                width: 88%;
            }
        }
    }
}
@media (max-width:510px) {
    .sec44{
        .tx h1{
          padding: 0px 10px;
          font-size: 23px !important;
          line-height: 30px !important;
        }
    }
    .sec6{
        padding: 0px 15px;
        margin-top: 90px;
        .f_aksi{
            padding: 0px 25px;
        }
        .s_f{
            padding: 40px 0px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            width: 90%;
            margin: auto;
        }
    }
}
@media (max-width: 426px) {
    .sec2{
        .f_aksi{
            padding: 0px 10px;
            h1{
                font-size: 25px !important;
            }
            .a1{
                font-size: 16px !important;
            }
        }
        .s_f{
            display: flex;
            flex-direction: column;

            .box{
                width: 100%;
            }
        }
    }
    .sec5{
        padding: 0px 10px;
        .fle{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }
    .sec6{
        padding: 0px 15px;
        margin-top: 90px;
        .f_aksi{
            padding: 0px 6px;
        }
        .s_f{
            // padding: 40px 0px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            width: 100%;
            margin: auto;
        }
        .box{
            width: 100%;
            margin: auto;
        }
    }
}
@media (max-width:350px) {
    .sec5{
        .fle{
            display: grid;
            grid-template-columns: 180px;
            gap: 20px;
        }
    }
}