@use "../global.scss";
.bosh{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
    img{
        width: 7px;
    }
    .glav{
        text-decoration: none;
        color: black;
    }
    a{
        text-decoration: none;
        color: gray;
    }
}
.macl{
    .yo{
        display: flex;
        gap: 40px;
        .y{
            display: flex;
            gap: 5px;
            align-items: center;
        }
    }
    .ff{
        display: flex;
        gap: 15px;
        .left{
            .indicators {
            display: flex;
            flex-direction: column;
            gap: 20px;
            }

            .indicators img {
            width: 120px;
            height: 120px;
            object-fit: cover;
            }
        }
        #show img{
            height: 500px;
            
        }
        .yy{
            width: 100%;
            .y{
             width: 100%;   
                display: flex;
                justify-content: space-between;
                .pul1{
                    color: #606060;
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 150%;
                }
                .pul2{
                    color: #414141;
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 26px;
                    line-height: 120%;
                }
                
            }
            .yoe
            .cente{
                width: 100%;
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            button{
                padding: 10px 30px;
                display: flex;
                align-items: center;
                gap: 20px;
                background: #FF6633;
                border-radius: 4px;
                border: none;
                color: white;
                cursor: pointer;
            }
            .yonga{
                display: flex;
                padding: 10px 0px;
                justify-content: space-between;
                background: #F3F2F1;
            }
            .yonga2{
                display: flex;
                padding: 10px 0px;
                justify-content: space-between;
                background: white;
            }
        }
    }
}
@media (max-width: 1190px) {
    .macl, .bosh{
        padding: 0px 15px;
    }
    .sec{
        padding: 0 15px;
    }
    .sec1{
        padding: 0 15px;
    }
    .sec2{
        padding: 0px 15px;
    }
    .about1{
        padding: 0px 14px;
    }
    header{
        padding: 13px 14px;
    }
    .sec2{
        .f_aksi{
            padding: 0px 14px;
        }
        .s_f{
            padding: 40px 14px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            border-radius: 3px !important;
            .oxr-no{
                display: none;
            }
            .box{
                width: 100%;
            }
        }
    }
    .sec5{
        padding: 0px 14px;
    }
    .sec6{
        padding: 0px 14px;
    }
    .sec7{
        padding: 0px 14px;
    }
}
@media (max-width:980px) {
    .macl{
        .yo{
            display: flex;
            gap: 40px;
            .y{
                display: flex;
                gap: 5px;
                align-items: center;
            }
        }
        .ff{
            display: flex;
            gap: 15px;
            .left{
                display: none;
                flex-direction: column;
                gap: 6px;
            }
            .yy{
                width: 100%;
                .y{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .pul1{
                        color: #606060;
                        font-family: 'Rubik';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 150%;
                    }
                    .pul2{
                        color: #414141;
                        font-family: 'Rubik';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 26px;
                        line-height: 120%;
                    }
                    
                }
                .yoe
                .cente{
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                }
                button{
                    padding: 10px 30px;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    background: #FF6633;
                    border-radius: 4px;
                    border: none;
                    color: white;
                }
                .yonga{
                    display: flex;
                    padding: 10px 0px;
                    justify-content: space-between;
                    background: #F3F2F1;
                }
                .yonga2{
                    display: flex;
                    padding: 10px 0px;
                    justify-content: space-between;
                    background: white;
                }
            }
        }
    }
}
@media (max-width: 920px) {
    .bosh{
        display: flex;
        align-items: center;
        gap: 20px;
        padding-top: 30px;
        img{
            width: 7px;
        }
        .glav{
            text-decoration: none;
            color: black;
        }
        a{
            text-decoration: none;
            color: gray;
        }
    }
    .macl{
        .yo{
            display: flex;
            gap: 40px;
            .y{
                display: flex;
                gap: 5px;
                align-items: center;
            }
        }
        .ff{
            display: flex;
            gap: 15px;
            flex-direction: column;
            .left {
                display: none;
            }
            .s_f .oxr-no{
                display: none;
            }
            .a{
                width: 100%;
            }
            #show img{
                width: 100%;
                height: 700px;
            }
            .yy{
                width: 99%;
                margin: auto;
                .y{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .pul1{
                        color: #606060;
                        font-family: 'Rubik';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 150%;
                    }
                    .pul2{
                        color: #414141;
                        font-family: 'Rubik';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 26px;
                        line-height: 120%;
                    }
                    
                }
                .yoe
                .cente{
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                }
                button{
                    padding: 10px 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    gap: 20px;
                    background: #FF6633;
                    border-radius: 4px;
                    border: none;
                    color: white;
                }
                .yonga{
                    display: flex;
                    padding: 10px 0px;
                    justify-content: space-between;
                    background: #F3F2F1;
                }
                .yonga2{
                    display: flex;
                    padding: 10px 0px;
                    justify-content: space-between;
                    background: white;
                }
            }
        }
    } 
}
@media (max-width: 900px){
    .bosh{
        display: flex;
        align-items: center;
        gap: 20px;
        padding-top: 30px;
        .ab{
            display: none;
        }
        img{
            width: 7px;
        }
        .glav{
            text-decoration: none;
            color: black;
        }
        a{
            text-decoration: none;
            color: gray;
        }
    }
}
@media (max-width: 650px) {
    .macl{
        .yo{
            display: flex;
            gap: 40px;
            .y{
                display: flex;
                gap: 5px;
                align-items: center;
            }
            .no1{
                display: none;
            }
            .no2{
                display: none;
            }
        }
        .ff{
            #show img{
                height: 400px;
                width: 100%;
            }
    }
     }
}